cameramode = 1 // 0: Follow cursor; 1: Using arrows/wasd; 2: Mixed;
global.textboxw = 256 // Textbox width (px)
global.textboxh = 128 // Textbox height (px)
global.c_mc = make_color_rgb(218, 64, 0) // Accent color
global.c_map = make_color_rgb(218, 64, 0) // Minimap color
kilo = 4 // Map compression (?) coefficient (Size of the map equals to 1/k of original size)
global.freeconkey = vk_control // Alternatives: vk_alt, vk_shift, vk space, ord('F'), etc
global.centerkey = ord('C') // Reset camera
global.alignkey = vk_shift // Round-up angle of nodes connection
global.alignangle = 120 // Round-up angle of nodes connection. Also, try 45
global.alignoffset = 180 // Clockwise offset of aligning angle
global.con_len = 48 // Default distance between nodes
global.editmb = mb_right // Mouse button to fast edit of node. Alt-es: mb_right, mb_middle, mb_left, mb_none, mb_all';
global.askname = 1 // Ask node's name when it have created
global.menubutton = vk_escape // Menu button. Alt-es: vk_tab, vk_space, vk_escape, vk_backspace
global.tip_maxlen = 32 // Maximal length of tip